/AzureKeyVaultDemo/AzureKeyVaultDemo.WebApi/bin/*
/AzureKeyVaultDemo/AzureKeyVaultDemo.WebApi/obj/*
/AzureKeyVaultDemo/.vs/AzureKeyVaultDemo/FileContentIndex/*
/AzureKeyVaultDemo/.vs/ProjectEvaluation/*
/AzureKeyVaultDemo/.vs/AzureKeyVaultDemo/v17/*
/AzureKeyVaultDemo/.vs/AzureKeyVaultDemo/DesignTimeBuild/*
/AzureKeyVaultDemo/.vs/AzureKeyVaultDemo/v17/.suo
/AzureKeyVaultDemo/.vs/AzureKeyVaultDemo/v17/.suo
